\.cproject
\.project
core

src/.vscode/*
src/*/*.obj
src/*/*.o
src/gpumd*
src/nep*
src/build
src/CMakeLists.txt

.history
.vscode
*~
local
public
public.*
\#*

/nep
/gpumd*

__pycache__/
*/__pycache__/
