\.cproject
\.project
core

src/.vscode/*
src/*/*.obj
src/*/*.o
src/gpumd*
src/nep*
src/gmlp*

.history
.vscode
*~
local
public
public.*
\#*

/nep
/gpumd*
/gmlp

__pycache__/
*/__pycache__/
README.gmlp.md
push-to-both.sh
