\.cproject
\.project
\.idea
core

src/.vscode/*
src/*/*.obj
src/*/*.o
src/gpumd*
src/nep*
src/gnep*

.history
.vscode
.DS_Store
*~
local
public
public.*
\#*

/nep
/*build*/
/gpumd*
/gnep

__pycache__/
*/__pycache__/
.pytest_cache/
.hypothesis/
README.gnep.md
push-to-both.sh
